
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

 .logo img{
     width: 60px;
     height: 60px;
   
}

.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #601cfc;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(fedor-PtW4RywQV4s-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;  
}

.main h2 {
    color:black;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600px;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}



@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }
    section{
        padding: 80px 20px;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }    
}


                 

