h1{
    text-align: center;
    font-size: 60px;
    padding: 50px;
    border: black;
    margin: 50px;
}
p{
    font-size: large;
    font-size: 30px;
    text-align: center;
  
  }
img{
    width: 100%;
    
}  